{# layout.html.twig #}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Title in layout{% endblock %}</title>

  
</head>

<body>
    
    {% block content %} {% endblock %}
     {% include "components/_navbar.html.twig" %}
     {% include "components/_footer.html.twig" %}

</body>
</html>